@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*//////////////////////// 1. Global Styles ////////////////////////*/

:root {
    --bg-color-peach: #F9C48B;
    --bg-color-tangerine: #F69051;
    --bg-color-burntsienna: #F26D40;
    --bg-color-blackbean: #260803;
    --bg-color-seashell: #FDEFEC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--bg-color-peach);
}



/*//////////////////////// 2. Typography ////////////////////////*/

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/*//////////////////////// 3. Areas ////////////////////////*/

.outer-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    background-color: var(--bg-color-seashell);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px;

    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

/*//////////////////////// 4. Media Queries ////////////////////////*/

@media (min-width:768px) {

    body {
        background-color: var(--bg-color-tangerine);
    }
}

@media (min-width:992px) {

    body {
        background-color: var(--bg-color-burntsienna);
    }
}